.quiz-contents{
    display: flex;
    justify-content: center;
    justify-items: center;
    overflow: hidden;
}

.btn-container{
    justify-content: flex-end;
    display: flex;
}

.question-options{
    width: 70%;
    transform: translate(30%, 0%);
    font-size: 20px;
}

.quiz-question {
    position: absolute;
    top: 30%;
    width: 60%;
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    
}
@media only screen and (max-width: 600px){
    .question-options{
        width: 90%;
        transform: translate(0%, 0%);
    }
    .quiz-question{
        width: 100%;
        top: 20%;
        padding: 0px 15px 0px 15px;
    }
    .quiz-contents>h1{
        font-size: 30px;
        width: 100%
    }
}
