/* styling of navbar */
.navbar{
    height: 4em;
    margin: 0px;
    margin-bottom: 5px;
}

.logout-btn i{
    font-size: 30px;
    color: white;
}
.dashboard{
    margin-top: 0px ;
    padding: 0px;
    padding-top: 0px;
    float: left;
    color: white;
}


.dashboard strong{
    font-size: 39px;    
    padding: 0px;
    margin: 0px
}

.dashboard i{
    padding-left: 10px; 
    padding-top: 5px;
    font-size: 50px;
}

.logout-btn button{
    font-size: 30px;
    color: white;
}
.logout-btn{
    padding-top: 10px;
    display: block;
    float: right;
}

/* end of navbar styling*/

/* start of side bar styling*/
.quiz-tree{
    height: 567px;
    padding: 0px;
    margin: 0px;
    float: left;
    color: white; 
}

.course-active{
    background-color: #0288d1; 
}

.quiz-tree-wrapper i{    
    margin-left: 0px;
    padding-left: 0px;  
    padding-top: 10px; 
    margin-top: 5px;
    padding: 0px;

}

.quiz-tree .row{
    padding: 0px;
    margin: 0px;
}

.quiz-tree-wrapper{
    padding: 0px;
    margin: 0px;    
}

.quiz-tree-courses{
    margin: 0px ; 
    font-size: 23px;
    padding: 0px;
    border-bottom: 2px solid white;

}

.quiz-tree-courses-drop li{
    display: block;
    padding: 4px 0px 0px 30px;
    margin: 0px;
    font-size: 20px;
    
}

.space-filler{
    height: 30px;
    width: 100%;    
    margin: 0px;
    padding: 0px;  
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* end of side bar styling*/

/* course detail diplay porting styling */
.details{
    display: flex;
    float: right;
    height: 597px;
}
/* course detail diplay porting styling end */

/*Course Detail styling*/

.course-detail h1{
    color: #0288d1; 
}

.right-aligner{
    width: 250px;
    text-align: left;
}

.course-detail h5{
    display: inline;    
}
.text-block{
    padding-left: 200px;

}
/*Course Detail styling end*/