/* styling of navbar */
.navbar{
    height: 4em;
    margin: 0px;
    margin-bottom: 5px;
    width: auto;
}}

.logout-btn i{
    font-size: 30px;
    color: white;
}
.dashboard{
    margin-top: 0px ;
    padding: 0px;
    padding-top: 0px;
    float: left;
    color: white;
}

.dashboard strong{
    font-size: 39px;    
    padding: 0px;
    margin: 0px
}

.dashboard i{
    padding-left: 10px; 
    padding-top: 5px;
    font-size: 50px;
}

.logout-btn button{
    font-size: 30px;
    color: white;
}
.logout-btn{
    padding-top: 10px;
    padding-right: 10px;
    display: block;
    float: right;
}

/* end of navbar styling*/

/* start of side bar styling*/
.quiz-tree{
    height: 567px;
    padding: 0px;
    margin: 0px;
    margin-left: 0px;
    margin-right: 0px;
    float: left;
    color: white; 
    overflow: hidden;
    background-color: #616161 ;
}


.course-active{
    background-color: #0288d1; 
}

.quiz-tree-wrapper i{    
    margin-left: 0px;
    padding-left: 0px;  
    padding-top: 10px; 
    margin-top: 5px;
    padding: 0px;

}

.quiz-tree .col{
    padding: 0px;
    margin: 0px;
}

.quiz-tree .quiz-tree-wrapper:first-child{
    padding-top: 30px;
}

.quiz-tree-wrapper{
    display: block;
    padding: 0px;
    margin: 0px;
    border-bottom: 2px solid white;
    text-align: left

}

.quiz-tree-wrapper .row{
    padding: 0px;
    margin: 0px;
}

.quiz-tree-courses{
    font-size: 20px;
    overflow: hidden;    
}

/* .quiz-tree-wrapper:hover> .courses-drop{
    display: block;
    border: 1px solid red;
    height: 0px;
    overflow: hidden;
    animation-name: drop1;
    animation-delay: 500ms;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;   
    
} */
/*
@keyframes drop1{
    0% {
        height: 50px;
    }
    25%{
        height: 100px;
    }
    50%{
        opacity: 0.5;
    }
    75%{
        opacity: 0.75;
    }
    100% {
        height: 140px;
    }    
}*/

 .courses-drop{
     height: 0px;
    overflow: hidden;
} 

.courses-drop li{
    padding: 4px 0px 0px 30px;
    margin: 0px;
    font-size: 20px;    
}

/* end of side bar styling*/

/* course detail diplay porting styling */
.details{
    display: flex;
    float: right;
    height: 597px;
    padding-left: 100px;
    text-align: left;
    overflow: scroll;
}
/* course detail diplay porting styling end */

/*Course Detail styling*/

.start-btn{
    margin: 0px;
    
}

.course-detail h1{
    color: #0288d1; 
}

.right-aligner{
    width: 250px;
    text-align: left;   
}

.detail-header{
    padding: 0px;
    float: left;
    
}

.text-block{
    text-align: left;
    padding-left: 10px
}
/*Course Detail styling end*/
/* media query */
@media only screen and (max-width: 600px){
    .quiz-tree{
        height: auto;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
    }
    .dashboard strong{
        font-size: 25px;
        padding: 0px;
    }   
    .navbar{
        height: 2.8em;
    }
    .dashboard{
        padding-left: 10px;
        position: absolute;
    }
    .dashboard i{
        font-size: 25px;
        padding: 0px;
        padding-top: 7px; 
        width:10px
    }
    .logout-btn {
        padding: 0px;
    }
    .logout-btn button{
        font-size: 20px;
    }
    .quiz-tree-wrapper{
        width: 10px;   
        border-radius: 20px;  
        
    }
    .quiz-tree-wrapper .row{
        margin-left: 5px;

    }
    .quiz-tree .quiz-tree-wrapper:first-child{
        padding-top: 2px
    }
    .text-block{
        padding-left: 0px ;
    }
    .right-aligner{
        width: 190px
    }
    .details{
        padding-left: 10px;
    }
}
@media only screen and (min-width: 768px){
    .quiz-tree{
        height: 579px;
     
    }
}
@media only screen and (min-width: 992px){
    .quiz-tree{
        height: 579px;
        
    }
    .quiz-tree-courses{
        font-size: 15px;
    }
    .courses-drop li{
        font-size: 13px;
    }
}
@media only screen and (min-width: 1200px){
    .quiz-tree{
        height: 579px;
    }
    .quiz-tree-courses{
        font-size: 20px;
    }
    .courses-drop li{
        font-size: 20px;
    }
}